* {
    font-family: sans-serif;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #060606;
}

canvas {
    display: block;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
}

.unselect {
    user-select: unset;
    -moz-user-select: unset;
    -webkit-user-select: unset;
}

#sun {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: fixed;
    top: -1000px;
    left: -1000px;
    animation-duration: 3s;
    animation-name: sun-pulse;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    background-image: radial-gradient(circle 100px, rgb(255, 251, 191), rgb(255, 187, 0), lightyellow);
    box-shadow: 0 0 300px 90px rgb(247, 183, 45);
}

.glasscard {
    width: 300px;
    height: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid rgba(20, 20, 20, 0.5);
    box-shadow: 3px 3px 10px 0 rgba( 0, 0, 0, 0.5);
}

.glasscard__header {
    height: 210px;
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    background-color: rgba(10, 10, 10, .7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.glasscard__img {
    padding: 15px;
    border: 1px solid rgba(209, 213, 219, .3);
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.glasscard__title {
    padding-top: 20px;
    color: #CCC;
    font-weight: bold;
    text-transform: uppercase;
}

.glasscard__text {
    color: #CCC;
    padding: 20px;
}

.glasscard__card {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba( 180, 180, 180, 0.1);
}

@keyframes sun-pulse {
    from {
        box-shadow: 0 0 300px 90px rgb(247, 183, 45);
    }
    to {
        box-shadow: 0 0 300px 100px rgb(247, 183, 45);
    }
}